
@{
    ViewBag.Title = "Các sân đã đặt";
}

<div class="site-blocks-cover bg-primary" style="margin-top: -500px; height: auto;">
    <div class="container" style="height: auto;">
        <div class="row" style="height: auto;">
            <div class="col-md-12">

                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <h1 style="font-family: 'VNF-Lobster'" data-aos="fade-up">Các sân đã đặt</h1>
                        <p data-aos="fade-up" data-aos-delay="100">&#9733;&#9733;&#9733;</p>
                    </div>
                </div>

                <div class="form-search-wrap mb-0" data-aos="fade-down" data-aos-delay="500">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="unverified" class="mr-1 btn btn-default bg-info rounded text-center text-light">
                                    Chờ xác thực
                                    <input type="checkbox" id="unverified" class="badgebox" checked>
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="verified_unpaid" class="mr-1 btn btn-default bg-primary rounded rounded text-center text-light">
                                    Đã xác thực - chưa thanh toán
                                    <input type="checkbox" id="verified_unpaid" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="paid" class="mr-1 btn btn-default bg-success rounded rounded text-center text-light">
                                    Hoàn thành
                                    <input type="checkbox" id="paid" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="cancel" class="btn btn-default bg-dark rounded rounded text-center text-light">
                                    Đã huỷ
                                    <input type="checkbox" id="cancel" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-search-wrap mt-4" data-aos="fade-down" data-aos-delay="500">
                    <div class="container">

                        <div class="row d-flex justify-content-center mt-2">
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order0" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order0">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order1" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order1">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order2" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order2">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order3" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order3">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>