

@{
    ViewBag.Title = "Sporty | Danh sách các sân";
}
<div class="site-blocks-cover" style="margin-top: -550px; height: auto;">
    <div class="container" style="height: auto;">
        <div class="row" style="height: auto;">
            <div class="col-md-12">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <h1 style="font-family: 'VNF-Lobster'" data-aos="fade-up">Chào mừng đến với Sporty</h1>
                        <p data-aos="fade-up" data-aos-delay="100">Đặt sân nhanh chóng, giá cả phù hợp.</p>
                    </div>
                </div>
                <!--Search bar-->
                @Html.Partial("_SearchPartial");
                <!--Listing-->
                <div class="form-search-wrap mb-0" data-aos="fade-down" data-aos-delay="500">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                                            <div class="lh-content">
                                                <h3><a href="#">House with Swimming Pool</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Real Estate</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">House with Swimming Pool</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_3.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Furniture</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_4.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Electronics</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">iPhone X gray</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Real Estate</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">House with Swimming Pool</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_3.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Furniture</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_1.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Cars &amp; Vehicles</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">Red Luxury Car</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Real Estate</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">House with Swimming Pool</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_3.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Furniture</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">Wooden Chair &amp; Table</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-block d-md-flex listing vertical">
                                            <a href="#" class="img d-block" style="background-image: url('/images/img_4.jpg')"></a>
                                            <div class="lh-content">
                                                <span class="category">Electronics</span>
                                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                                <h3><a href="#">iPhone X gray</a></h3>
                                                <address>Don St, Brooklyn, New York</address>
                                                <p class="mb-0">
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-warning"></span>
                                                    <span class="icon-star text-secondary"></span>
                                                    <span class="review">(3 Reviews)</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>




                                </div>

                                <div class="col-12 mt-5 text-center">
                                    <div class="custom-pagination">
                                        <span>1</span>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <span class="more-page">...</span>
                                        <a href="#">10</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>