@{
    ViewBag.Title = "Website hỗ trợ tìm kiếm thuê đặt sân bóng đá mini";
}

<!-- Search -->
@section cover_content {
    <div class="row justify-content-center mb-4">
        <div class="col-md-8 text-center">
            <h1 style="font-family: 'VNF-Lobster'" data-aos="fade-up">Chào mừng đến với Sporty</h1>
            <p data-aos="fade-up" data-aos-delay="100">Đặt sân nhanh chóng, giá cả phù hợp.</p>
        </div>
    </div>
    @Html.Partial("_SearchPartial");
}

<div class="site-section bg-light">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <h2 class="h5 mb-4 text-black">Featured Ads</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12  block-13">
                <div class="owl-carousel nonloop-block-13">

                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_1.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Cars &amp; Vehicles</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">New Black Car</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Real Estate</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">Own New House</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_3.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Furniture</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_4.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Electronics</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">iPhone X gray</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_1.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Cars &amp; Vehicles</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">New Black Car</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_2.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Real Estate</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">Own New House</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_3.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Furniture</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-block d-md-flex listing vertical">
                        <a href="listings-single.html" class="img d-block" style="background-image: url('/images/img_4.jpg')"></a>
                        <div class="lh-content">
                            <span class="category">Electronics</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3><a href="listings-single.html">iPhone X gray</a></h3>
                            <address>Don St, Brooklyn, New York</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="py-6 bg-gray-100">
    <div class="container">

        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Sporty làm được những gì ?</h2>
                <p class="subtitle text-secondary">Nền tảng đặt sân hàng đầu tại Việt Nam</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">

                        <img class="icon-image" src="~/images/ico_location.png" alt="Info">
                    </div>
                    <h3 class="h5">Tìm kiếm và đặt sân bóng online</h3>
                    <p class="text-secondary">
                        Địa điểm, giá sân, giờ mở cửa,... các sân bóng trong khu vực gần nơi bạn ở.
                        Lựa chọn sân gần vị trí của bạn nhất, đặt sân online, tiện lợi, dễ dàng
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <img class="icon-image" src="~/images/ico_calendar.png" alt="Book">
                    </div>
                    <h3 class="h5">Công cụ hỗ trợ quản lý sân bóng</h3>
                    <p class="text-secondary">Quản lý lịch đặt đơn giản, tiếp nhận đặt sân online - offline dễ dàng, lấp đầy sân trống</p>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                <div class="px-0 px-lg-3">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <img class="icon-image" src="~/images/ico_cross_platform.png" alt="Pr">
                    </div>
                    <h3 class="h5">Có sẵn ứng dụng cho các thiết bị di động phổ biến</h3>
                    <p class="text-secondary">
                    </p><div>
                        <a href="https://apps.apple.com/vn/app/"><img style="width: 150px" src="https://www.sporta.vn/assets/icon-appstore-0ac658e90248e413db2bdc584e50b25b06a8229f6a74efb816b93194d0491829.svg" alt="Icon appstore"></a>
                        <a href="https://play.google.com/store/apps/"><img style="width: 150px" src="https://www.sporta.vn/assets/icon-googleplaystore-87014b724e646f2c8dce71506e67424975dd3f81a59b3e8f356ce501a0c6e458.svg" alt="Icon googleplaystore"></a>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-section bg-white">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Phản hồi của khách hàng</h2>
            </div>
        </div>

        <div id="testimonials" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                            <h3>Nguyễn Thế Cường</h3>
                            <h4 class="text-secondary">Chủ sân ĐH NTN</h4>
                        </figure>
                        <blockquote>
                            <p>“Tính năng hữu ích, hỗ trợ tôi quản lý sân hiệu quả hơn. Doanh thu cũng tăng lên rõ rệt. Không còn tình trạng trống sân.”</p>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                            <h3>Đỗ Nam Trung</h3>
                            <h4 class="text-secondary">Thành viên clb bóng đá HCM</h4>
                        </figure>
                        <blockquote>
                            <p>“Ứng dụng hữu ích thích hợp với anh em mê bóng đá. Giá cả và điều kiện sân bãi rõ ràng.”</p>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                            <h3>Nguyễn Thế Cường</h3>
                            <h4 class="text-secondary">Chủ sân</h4>
                        </figure>
                        <blockquote>
                            <p>“Tính năng hữu ích, hỗ trợ tôi quản lý sân hiệu quả hơn. Doanh thu cũng tăng lên rõ rệt. Không còn tình trạng trống sân.”</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select province / city</h5>
            </div>
            <div class="modal-body">
                <select class="form-control rounded" name="" id="provinceCitySelector">
                    <option value="An Giang">An Giang
                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu
                    <option value="Bắc Giang">Bắc Giang
                    <option value="Bắc Kạn">Bắc Kạn
                    <option value="Bạc Liêu">Bạc Liêu
                    <option value="Bắc Ninh">Bắc Ninh
                    <option value="Bến Tre">Bến Tre
                    <option value="Bình Định">Bình Định
                    <option value="Bình Dương">Bình Dương
                    <option value="Bình Phước">Bình Phước
                    <option value="Bình Thuận">Bình Thuận
                    <option value="Bình Thuận">Bình Thuận
                    <option value="Cà Mau">Cà Mau
                    <option value="Cao Bằng">Cao Bằng
                    <option value="Đắk Lắk">Đắk Lắk
                    <option value="Đắk Nông">Đắk Nông
                    <option value="Điện Biên">Điện Biên
                    <option value="Đồng Nai">Đồng Nai
                    <option value="Đồng Tháp">Đồng Tháp
                    <option value="Đồng Tháp">Đồng Tháp
                    <option value="Gia Lai">Gia Lai
                    <option value="Hà Giang">Hà Giang
                    <option value="Hà Nam">Hà Nam
                    <option value="Hà Tĩnh">Hà Tĩnh
                    <option value="Hải Dương">Hải Dương
                    <option value="Hậu Giang">Hậu Giang
                    <option value="Hòa Bình">Hòa Bình
                    <option value="Hưng Yên">Hưng Yên
                    <option value="Khánh Hòa">Khánh Hòa
                    <option value="Kiên Giang">Kiên Giang
                    <option value="Kon Tum">Kon Tum
                    <option value="Lai Châu">Lai Châu
                    <option value="Lâm Đồng">Lâm Đồng
                    <option value="Lạng Sơn">Lạng Sơn
                    <option value="Lào Cai">Lào Cai
                    <option value="Long An">Long An
                    <option value="Nam Định">Nam Định
                    <option value="Nghệ An">Nghệ An
                    <option value="Ninh Bình">Ninh Bình
                    <option value="Ninh Thuận">Ninh Thuận
                    <option value="Phú Thọ">Phú Thọ
                    <option value="Quảng Bình">Quảng Bình
                    <option value="Quảng Bình">Quảng Bình
                    <option value="Quảng Ngãi">Quảng Ngãi
                    <option value="Quảng Ninh">Quảng Ninh
                    <option value="Quảng Trị">Quảng Trị
                    <option value="Sóc Trăng">Sóc Trăng
                    <option value="Sơn La">Sơn La
                    <option value="Tây Ninh">Tây Ninh
                    <option value="Thái Bình">Thái Bình
                    <option value="Thái Nguyên">Thái Nguyên
                    <option value="Thanh Hóa">Thanh Hóa
                    <option value="Thừa Thiên Huế">Thừa Thiên Huế
                    <option value="Tiền Giang">Tiền Giang
                    <option value="Trà Vinh">Trà Vinh
                    <option value="Tuyên Quang">Tuyên Quang
                    <option value="Vĩnh Long">Vĩnh Long
                    <option value="Vĩnh Phúc">Vĩnh Phúc
                    <option value="Yên Bái">Yên Bái
                    <option value="Phú Yên">Phú Yên
                    <option value="Tp.Cần Thơ">Tp.Cần Thơ
                    <option value="Tp.Đà Nẵng">Tp.Đà Nẵng
                    <option value="Tp.Hải Phòng">Tp.Hải Phòng
                    <option value="Tp.Hà Nội">Tp.Hà Nội
                    <option value="TP  HCM">TP HCM
                </select>
            </div>
            <div class="modal-footer" style="text-align: center !important;display: inline;">
                <button id="saveProvinceCityBtn" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //$('#myModal').modal({ backdrop: 'static', keyboard: false });
        //Cookies.set("test_cookie", "hello");
        /*
        if (Cookies.get("province_city") == null) {
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        }
        $("#saveProvinceCityBtn").on("click", function (e) {
            //alert(123);
        });
        $('#myModal').on('hidden.bs.modal', function () {
            alert(123);
        })
        */
    });
</script>